Elasticsearch/elastic_data
Elasticsearch/elastic_config

HashiCorp/vault_data

Apache_Cassandra/cassandra_data

Apache_Kafka/kafka_data
Apache_Kafka/zookeeper_data

Keycloak/pgadmin_data
Keycloak/postgres_data

minio/minio_data

MongoDB/mongo_data

MySQL/mysql_data

PostgreSQL/pgadmin_data
PostgreSQL/postgres_data

Neo4j/neo4j_conf
Neo4j/neo4j_data
Neo4j/neo4j_logs
Neo4j/neo4j_plugins

RabbitMQ/rabbitmq_data

Redis/redis_data

n8n/n8n-data