# ----------------------------
# Authentication / Keycloak
# ----------------------------
keycloak/pgadmin_data/
keycloak/postgres_data/

# ----------------------------
# Databases
# ----------------------------

cassandra/cassandra_data/
mongodb/mongo_data/
mysql/mysql_data/
neo4j/neo4j_conf/
neo4j/neo4j_data/
neo4j/neo4j_logs/
neo4j/neo4j_plugins/
postgres/postgres_data/
redis/redis_data/

# PostgreSQL internal files (never commit)
postgres/postgres_data/global/pg_control
postgres/postgres_data/pg_subtrans/0000

# ----------------------------
# Infrastructure
# ----------------------------
vault/vault_data/

# ----------------------------
# Messaging
# ----------------------------
kafka/kafka_data/
kafka/zookeeper_data/
rabbitmq/rabbitmq_data/

# ----------------------------
# Object Storage
# ----------------------------
minio/templates/

# ----------------------------
# Observability
# ----------------------------
zipkin/

# ----------------------------
# Orchestration
# ----------------------------
n8n/n8n-data/

# ----------------------------
# Search & Analytics
# ----------------------------
elasticstack/Elasticsearch/elastic_data/
elasticstack/Elasticsearch/elastic_config/