services:
  nginx:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "8888:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    networks:
      - postgres_shared_network

  postgres_shared_network:
    external: true
