services:
  node-app:
    container_name: node-app
    image: docker.m.daocloud.io/library/node:lts-alpine
    command: sh -c "while true; do sleep 3600; done"
    working_dir: /usr/src/app
    environment:
      - NODE_ENV=development
      - PORT=3000
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    restart: unless-stopped
    networks:
      - app_shared_network

networks:
  app_shared_network:
    external: true
