services:
  minio:
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minioAdmin
      - MINIO_ROOT_PASSWORD=minioAdmin
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    networks:
      - minio_shared_network
    ports:
      - 9000:9000
      - 9001:9001
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3"
    volumes:
      - ./minio_data:/data

networks:
  minio_shared_network:
    name: minio_shared_network
    driver: bridge

