services:
  redis:
    container_name: redis
    image: redis:8.2.3-alpine3.22
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - redis_shared_network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  redis_data:


networks:
  redis_shared_network:
    name: redis_shared_network
    driver: bridge
